.main-nav-list-portfolio-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.main-nav-list-portfolio-navigation__link:link,
.main-nav-list-portfolio-navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.main-nav-list-portfolio-navigation__link:hover,
.main-nav-list-portfolio-navigation__link:active {
  transform: scale(1.1);
}

.main-nav-list-portfolio-navigation__link__cta:link,
.main-nav-list-portfolio-navigation__link__cta:visited {
  color: #000;
  font-size: 1.8rem;
  padding: 1.8rem 2.6rem;
  background-color: #fff;
  font-weight: 700;
}

.main-nav-list-portfolio-navigation__link__cta:hover,
.main-nav-list-portfolio-navigation__link__cta:active {
  background-color: #ced4da;
  transition: all 0.3s;
}
