.section-hero {
  background-color: #000;
  padding: 6.4rem 0 9.6rem 0;
}

.hero {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.dud {
  color: #fff;
}

.hero-description-block {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr;
  column-gap: 8rem;
  margin-bottom: 4.8rem;
}

.hero-description {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
}

.hero-description-btn {
  align-self: end;
  justify-self: end;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  text-decoration: underline solid currentColor;
  color: #e8e8ed;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.hero-btn:hover,
.hero-btn:active {
  color: #fff;
  transform: translateX(5%);
}

.hero img {
  max-width: 110rem;
  height: auto;
}
